.contacto {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--fondo-contacto);
  text-align: center;
  width: fit-content;
}

.contacto h2 {
  margin-bottom: 20px;
}

iframe {
  margin-bottom: 2rem;
  border: none;
  width: 85vw;
  height: 20rem;
}
