.proyectos{
    width: 80%;
    padding: 10%;
    background: var(--fondo-proyecto);
}
/*Esta es el contenedor general que engloba a los proyectos*/
.galeria-proyectos{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
/*Como es el contenedor del proyecto en general*/
.proyecto{
    background-color: rgb(53,52,52); /* Color de fondo de la tarjeta  */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: calc(33% - 40px); /*Ajusta el ancho según la cantidad de proyectos a mostrar en una fila */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1) ;
    text-align: center;
}
/*Imagen del proyecto*/
.proyecto img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.proyectos h2{
   text-align: center;
}
/*Título del proyecto*/
.proyecto h3{
margin-top: 10px;
font-size: 1.2em;
}
/*Descripción del proyecto*/
.proyecto p{
    margin: 10px 0;
}
/*Botones enlaces ancor*/
.proyecto a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}
/*Botones de los proyectos*/
.proyecto a:hover{
    background-color: #0056b3;
}

/*Media queries para hacerlo responsivo con celular*/
@media(max-width: 767px){
    .proyecto{
        width: 90vw;
        padding: 5vw;
    }
}
/*Media queries para hacerlo responsivo con tablet*/
@media(mix-width: 768px) and (max-width: 1023px){
    .proyecto{
        width: calc(50% - 40px);
    }
}
/*Media queries para hacerlo responsivo con desktop*/
@media(mix-width: 1024px) {
    .proyecto{
        width: calc(33% - 40px);
    }
}
